.clip-blob {
    -webkit-mask-image: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 45%,
        rgba(255, 255, 255, 0) 60%
    );
    mask-image: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 25%,
        rgba(255, 255, 255, 0) 100%
    );
}

.animate-square-blob {
    animation: square-blob 6s linear infinite;
}

.animate-square-blob-alternative {
    animation: square-blob-alternative 10s linear infinite;
}

@keyframes square-blob {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes square-blob-alternative {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
